html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background: black;
  color: #fd0000;
  padding: 10px;
}
#topBar {
  display: flex;
  flex-direction: row;
  background: black;
  justify-content: space-between;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.fpsDisplay {
  align-self: flex-end;
}

.score {
  align-self: flex-start;
}

.timePassedSpan {
  align-self: center;
}
.sideBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
  width: 300px;
  border: 2px white dotted;
  position: absolute;
  right: 50px;
  color: white;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 60px;
}

@media (max-width: 1550px) {
  .sideBar {
    height: 400px;
    width: 30vw;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .game-wrapper {
    /* Change the flex direction to column for screens with width 1500px or less */
    flex-direction: column;
  }
  body {
    overflow: scroll;
  }
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

.game {
  width: 800px;
  height: 600px;
  background: url(../img/s1.png);
  animation: scroll-background 6s linear infinite;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.game .enemy {
  position: absolute;
  margin-left: -28px;
  margin-top: -18px;
  width: 56px;
}

.game .player {
  position: absolute;
  margin-left: -28px;
  width: 56px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  position: absolute;
  background: #c7a526;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over {
  display: none;
  position: absolute;
  background: #6b1818;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.btn {
  border: 2px solid #36bbf5;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom, #fff 0%, #fff 49%, #f5f5f5 50%, #eee 100%);
  padding: 10px 40px;
  font: 14px sans-serif;
}
.restartbtn {
  border: 2px solid #ff1e00;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  background: rgb(59, 59, 59);
  padding: 10px;
  font: 12px sans-serif;
  margin-bottom: 5px;
  color: white;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.asteroidsContainer {
  width: 800px;
  height: 600px;
  position: absolute;
}

.asto {
  width: 48px;
  height: 48px;
  background: url(../img/asteroid.png);
  position: absolute;
  visibility: hidden;
}
.asteroidsContainer .asteroid1 {
  left: 50px;
  animation-fill-mode: forwards;
  animation: astreoid 5s linear infinite;
  animation-delay: 5s;
}
.asteroidsContainer .asteroid2 {
  left: 400px;
  animation-fill-mode: forwards;
  animation: astreoid 6s linear infinite;
  animation-delay: 2s;
}

.asteroidsContainer .asteroid3 {
  left: 700px;
  animation-fill-mode: forwards;
  animation: astreoid 4s linear infinite;
  animation-delay: 3s;
}

@keyframes astreoid {
  from {
    visibility: hidden;
    transform: translateY(0) translateX(-50px);
  }
  to {
    visibility: visible;
    transform: translateY(560px) translateX(50px);
  }
}
.paused {
  animation-play-state: paused;
}
.hidden {
  opacity: 0;
}
